@import url('https://fonts.googleapis.com/css2? family= Cairo:wght@200;300 & family= Roboto:wght@100 & family= Secular+One & display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo{
color: #edc065;
font-size: 30px;
font-weight: 600;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
margin: 0 5px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px ;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover{
color: #edc065;
}

nav .menu-btn i{
    color: #fff;
    cursor: pointer;
    display: none;
}

@keyframes rotate{
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}


/* RESPONSIVIDADE*/
@media(max-width:768px){
nav .menu-btn i{
    display: block;
}

nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: black;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
}
nav ul.open{
    left: 0;
}

nav ul li{
    width: 100%;
    margin: 50px 0;
}

nav ul li a{
    font-size: 30px;
}
nav ul li a.active,
nav ul li a:hover{
background: none;
color: #edc065;
}
}